body {
    background-color: #ebb992;
}
/* NAVBAR */
header {
    position: sticky;
    top: 0;
    z-index:10;
}

.navbar {
    display: flex;
    padding: 5px 16px;
    justify-content: space-between;
    align-items: center;
    background-color: #965C43;
}
a {
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    color: #3C0600;
}


.navMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 16px;
}

/* Homepage */
.backgroundPic {
    /* background-size: cover;
    z-index: 0 */
    position: relative;

}
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%); 
    /* ^ Center the text within the container  */
    color: #3C0600; 
    padding: 20px;
    font-size: 50px;
    text-align: center;
}
.title h1 {
    margin-bottom: 40px;
    margin-top:40px
}
.homepageNavLinks {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
/* Products */
.productsPage h1{ 
    text-align: center;
    margin: 5px;
    font-size: 20px;
}

.productsPage p {
    text-align: center;
    margin: 5px;
    font-size: 20px;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
}
.singleProductContainer {
    margin: 10px;
    background-color: white;
    text-align: center;
    padding: 10px;
    border:1px solid black;
}

/* Single Product Page */

.singleProductPage {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 50%;
    padding:50px;
    margin: auto;
    border: 1px solid black;
    margin-top: 5rem;
}
#productData {
    margin: 30px;
    text-align: left;
}
#counter {
    width: 30px;
    text-align: center;
}

/* #productData p {
    text-align: left;
} */

/* CART */

.cartPage {
    display: flex;
    padding: 30px;
    justify-content: center;
}
.cartItem {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 5px;
    border: 1px black solid;
    margin: 5px;
}
.cartItemInfo {
    padding: 5px;
}
/* .cartItem p {
    float: left;
} */
