body {
    /* background-color: #ebb992; */
}
/* NAVBAR */
header {
    position: sticky;
    top: 0;
    z-index:10;
}

.navbar {
    display: flex;
    padding: 5px 16px;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}
.navbar a {
   margin: 20px;
}

/* 
.navMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 16px;
} */

/* Homepage */

.title {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-20%, -50%); 
    color: white;
    font-size: 50px;
    
}
.homepageNavLinks {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
/* Products */
.productsPage h1{ 
    text-align: center;
    margin: 5px;
    font-size: 20px;
}

.productsPage p {
    text-align: center;
    margin: 5px;
    font-size: 20px;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
}
.singleProductContainer {
    margin: 10px;
    background-color: white;
    text-align: center;
    padding: 10px;
    border:1px solid black;
}

/* Single Product Page */

.singleProductPage {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 70%;
    padding:50px;
    margin: auto;

}
#productData {
    margin: 30px;
    text-align: left;
}
#counter {
    width: 30px;
    text-align: center;
}

/* #productData p {
    text-align: left;
} */

/* CART */

.cartPage {
    display: flex;
    padding: 30px;
    justify-content: center;
}
.cartItem {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 5px;
    border: 1px black solid;
    margin: 5px;
}
.cartItemInfo {
    padding: 5px;
}
/* .cartItem p {
    float: left;
} */


/* CONTACT */
.contactFormPage {
    display: flex;
    margin: auto;
    background-color: white;
    padding: 30px;
    transform: translate(0, 50%); 
    width: 50%;

}
.contactFormInfo{
    flex:1
}
.contactForm {
    flex:1;
    /* padding: 30px; */
}